/* Skilfully created by Jo */

body{
  font-family: Calibri, Arial, sans-serif, Helvetica;
  font-weight: normal;
  font-size: 14px;
  position: relative;
}

h3{
  font-weight: bold;
  font-size: 16px;
}

#picture {
  width: 80px;

}

footer{
background-color: #326872;
/* height: 8%; */
color: white;
}
